#wrapper {
	position:relative;
	background-color: black;
	width:50px;
	width:67%;	
}

#network {
	
	postion:absolute;
	top: 30%;
	left: 10%;	
	width: 100%;
	height: 100%;
}
    

line.link {
	color: white;
  	stroke: #bbb;
  	stroke-opacity: 0.75;
}


.nodejoint {
	fill: #fff;
        stroke: #fff;
        stroke-width: 1.5px;
	top: 40%;
	left: 10%;
}



