#wrapper {
	position:relative;
	background-color: black;
	width:50px;
	width:67%;	
}

#network {
	top: 50%;
	left: 50%;	
/*	width: 100%;
	height: 100%;*/
}
    

line.link {
	color: white;
  	stroke: #bbb;
  	stroke-opacity: 0.75;
}


circle.nodejoint {
	fill: #fff;
        stroke: #fff;
        stroke-width: 1.5px;
}



